Repository bcocbo/apagado-automatico: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, yaml-validation, eslint

.pre-commit-config.yaml:

# Pre-commit configuration for Namespace Auto-Shutdown System
# Automatically runs validations before commits

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        types: [yaml]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|rst)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: detect-aws-credentials

  # Python code formatting and linting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
        files: ^controller/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile, black]
        files: ^controller/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203, W503]
        files: ^controller/.*\.py$

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091, -e, SC2034]

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Validate Kubernetes manifests
        entry: scripts/validate-k8s-manifests.sh
        language: script
        files: \.ya?ml$
        pass_filenames: false
        always_run: false

  # Custom YAML validation
  - repo: local
    hooks:
      - id: yaml-validation
        name: Comprehensive YAML validation
        entry: scripts/validate-yaml.sh
        language: script
        files: \.ya?ml$
        pass_filenames: false
        always_run: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^\.secrets\.baseline$

  # Frontend linting (if Node.js is available)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        require_serial: true

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.15.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

feat: Force backend rebuild to include all latest endpoints
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260218-205501 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Use shared timestamp across all CI/CD jobs
  .github/workflows/build.yaml
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Update image tags to 20260218-211137 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix nginx proxy configuration to preserve /api prefix when forwarding to backend
  frontend/nginx.conf
Due: none

Update image tags to 20260218-212714 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix kubectl command execution to work properly in Kubernetes pods with service account tokens
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260218-213357 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Add system default tasks, Colombia holidays 2026-2027, and reduce log level
  .kiro/specs/namespace-scheduler/tasks.md
  docs/deployment-configuration.md
  docs/eks-iam-configuration.md
  docs/local-development-setup.md
  frontend/src/api.js
  frontend/src/app.js
  frontend/src/index.html
  kubectl-runner/src/app.py
  kubectl-runner/src/colombia_holidays_2026_2027.py
  kubectl-runner/src/create_default_tasks.py
  manifests/overlays/production/task-scheduler-patch.yaml
  scripts/create-route53-zone.sh
  scripts/setup-local-dns.sh
Due: kubeval, yaml-validation, eslint

Update image tags to 20260219-022546 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix batch task creation - correct add_task method signature
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260219-023245 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Force rebuild for batch task endpoints
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260219-023446 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix task creation - add start and allDay fields for frontend calendar compatibility
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260219-024817 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Add cleanup-all endpoint for task management
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260219-025225 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

feat: implement weekly schedule API endpoint
  .kiro/specs/namespace-scheduler/design.md
  .kiro/specs/namespace-scheduler/requirements.md
  .kiro/specs/namespace-scheduler/tasks.md
  docs/cost-center-validation-api.md
  docs/deployment-configuration.md
  docs/frontend-features-overview.md
  docs/protected-namespaces.md
  frontend/src/app.js
  kubectl-runner/src/app.py
  kubectl-runner/src/test_weekly_schedule_endpoint.py
  kubectl-runner/src/test_weekly_schedule_simple.py
Due: eslint

Update image tags to 20260219-151848 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

feat: implement weekly view frontend interface
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/styles.css
  frontend/src/weekly-dashboard.js
Due: eslint

Update image tags to 20260219-161441 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

feat: implement namespace management logic and click-to-schedule
  .kiro/specs/namespace-scheduler/tasks.md
  frontend/src/weekly-dashboard.js
  kubectl-runner/src/app.py
  kubectl-runner/src/config/protected-namespaces.json
Due: eslint

Update image tags to 20260219-174754 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix namespace management logic and click-to-schedule functionality
  docs/deployment-configuration.md
  docs/local-development-setup.md
  docs/protected-namespaces.md
  frontend/src/weekly-dashboard.js
  kubectl-runner/Dockerfile
  kubectl-runner/src/app.py
Due: eslint

Update image tags to 20260219-193933 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Implement business hours automatic namespace management
  docs/business-hours-configuration.md
  docs/deployment-configuration.md
  kubectl-runner/src/app.py
  manifests/base/business-hours-config.yaml
  manifests/base/kustomization.yaml
Due: kubeval, yaml-validation

Update image tags to 20260219-201458 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Implement Kyverno-based namespace management with automated protected namespaces
  docs/deployment-configuration.md
  docs/kyverno-namespace-scheduler-policies.md
  kubectl-runner/src/app.py
  manifests/base/kustomization.yaml
  manifests/base/kyverno-namespace-scheduler-policies.yaml
  manifests/base/protected-namespaces-configmap.yaml
  scripts/sync-protected-namespaces.sh
Due: kubeval, yaml-validation

Update image tags to 20260219-212447 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Fix Kyverno policies: move protected namespaces exclusion to exclude section
  manifests/base/kyverno-namespace-scheduler-policies.yaml
Due: kubeval, yaml-validation

Add namespace patch permissions for Kyverno label management
  manifests/base/kubectl-runner-cluster-rbac.yaml
Due: kubeval, yaml-validation

Fix Kyverno policies syntax errors
  manifests/base/kyverno-namespace-scheduler-policies.yaml
Due: kubeval, yaml-validation

Add cluster RBAC to kustomization
  manifests/base/kustomization.yaml
Due: kubeval, yaml-validation

Switch to Kyverno-based namespace management
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260220-022725 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Improve Kyverno implementation: block new pods + delete existing pods
  kubectl-runner/src/app.py
Due: none

Update image tags to 20260220-023248 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Add ArgoCD sync-options to prevent namespace deletion
  manifests/base/namespace.yaml
Due: kubeval, yaml-validation

Fix Kustomize conflicts and deprecation warnings
  manifests/base/kubectl-runner-cluster-rbac.yaml
  manifests/base/kustomization.yaml
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation
