Repository bcocbo/apagado-automatico: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, yaml-validation, eslint

.pre-commit-config.yaml:

# Pre-commit configuration for Namespace Auto-Shutdown System
# Automatically runs validations before commits

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        types: [yaml]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|rst)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: detect-aws-credentials

  # Python code formatting and linting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
        files: ^controller/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile, black]
        files: ^controller/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203, W503]
        files: ^controller/.*\.py$

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091, -e, SC2034]

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Validate Kubernetes manifests
        entry: scripts/validate-k8s-manifests.sh
        language: script
        files: \.ya?ml$
        pass_filenames: false
        always_run: false

  # Custom YAML validation
  - repo: local
    hooks:
      - id: yaml-validation
        name: Comprehensive YAML validation
        entry: scripts/validate-yaml.sh
        language: script
        files: \.ya?ml$
        pass_filenames: false
        always_run: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^\.secrets\.baseline$

  # Frontend linting (if Node.js is available)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        require_serial: true

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.15.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

nueva version
  .github/workflows/ci-cd.yml
Due: kubeval, yaml-validation

nuea version2
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yaml
  controller/tests/__init__.py
  controller/tests/test_simple_controller.py
  frontend/src/__tests__/App.test.tsx
  policies/optimization/default-resources.yaml
Due: kubeval, yaml-validation, eslint

desde 0
  .github/workflows/build.yaml
  .kiro/specs/namespace-startup-scheduler/design.md
  .kiro/specs/namespace-startup-scheduler/requirements.md
  .kiro/specs/namespace-startup-scheduler/tasks.md
  README.md
  argocd/backstage-app.yaml
  manifests/base/backstage-deployment.yaml
  manifests/base/backstage-service.yaml
  manifests/base/kustomization.yaml
  manifests/base/namespace.yaml
  manifests/base/postgres.yaml
  manifests/base/rbac.yaml
  manifests/overlays/production/backstage-patch.yaml
  manifests/overlays/production/ingress.yaml
  manifests/overlays/production/kustomization.yaml
  setup-argocd.sh.exe
Due: kubeval, yaml-validation

feat: Implementar sistema completo de task scheduler
  .github/workflows/build.yaml
  README-TASK-SCHEDULER.md
  argocd/backstage-app.yaml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/styles.css
  kubectl-runner/Dockerfile
  kubectl-runner/scripts/health-check.sh
  kubectl-runner/scripts/setup-kubeconfig.sh
  kubectl-runner/src/app.py
  manifests/base/kubectl-runner-rbac.yaml
  manifests/base/kustomization.yaml
  manifests/base/namespace.yaml
  manifests/base/task-scheduler-deployment.yaml
  manifests/base/task-scheduler-service.yaml
  manifests/overlays/production/ingress.yaml
  manifests/overlays/production/kustomization.yaml
  manifests/overlays/production/task-scheduler-patch.yaml
Due: kubeval, yaml-validation, eslint

docs: Agregar especificación completa del Sistema Task Scheduler
  .kiro/specs/task-scheduler-system/design.md
  .kiro/specs/task-scheduler-system/requirements.md
  .kiro/specs/task-scheduler-system/tasks.md
Due: none

feat: Actualizar workflow para usar OIDC en lugar de access keys
  .github/workflows/build.yaml
  kubectl-runner/src/app.py
Due: kubeval, yaml-validation

cambios
  .kiro/specs/update-documentation-namespace/requirements.md
  README-TASK-SCHEDULER.md
  apagado-automatico.code-workspace
  argocd/namespace-scheduler-app.yaml
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/styles.css
  kubectl-runner/Dockerfile
  kubectl-runner/requirements.txt
  kubectl-runner/src/app.py
  manifests/base/backstage-deployment.yaml
  manifests/base/backstage-service.yaml
  manifests/base/kustomization.yaml
  manifests/base/postgres.yaml
  manifests/base/rbac.yaml
  scripts/analyze-nodepools.sh
  scripts/build-and-push.sh
  scripts/cleanup-notready-nodes.sh
  scripts/create-ecr-repos.sh
  scripts/deploy-argocd.sh
Due: kubeval, yaml-validation, eslint

feat: Configure GitHub Actions IAM and ECR policies
  .github/workflows/build.yaml
  .kiro/specs/namespace-scheduler/design.md
  .kiro/specs/namespace-scheduler/requirements.md
  .kiro/specs/namespace-scheduler/tasks.md
  .kiro/specs/task-scheduler-system/design.md
  .kiro/specs/task-scheduler-system/requirements.md
  .kiro/specs/task-scheduler-system/tasks.md
  .kiro/specs/update-documentation-namespace/requirements.md
  README-TASK-SCHEDULER.md
  README.md
  docs/README-github-actions.md
  docs/deployment-configuration.md
  docs/github-actions-setup.md
  docs/github-secrets-configuration.md
  docs/github-workflow-example.yml
  docs/github-workflow-improvements.md
  manifests/base/task-scheduler-deployment.yaml
  manifests/base/task-scheduler-service.yaml
  manifests/overlays/production/ingress.yaml
  manifests/overlays/production/kustomization.yaml
  manifests/overlays/production/task-scheduler-patch.yaml
  scripts/build-and-push.sh
  scripts/check-github-secrets.sh
  scripts/create-ecr-repos.sh
  scripts/push-and-validate-cicd.sh
  scripts/setup-github-actions-iam.sh
  scripts/test-github-actions-flow.sh
  scripts/validate-github-actions-setup.sh
  setup-argocd.sh.exe
Due: kubeval, yaml-validation

test: Trigger CI/CD workflow to validate GitHub Actions configuration
  frontend/src/index.html
Due: none

Update image tags to 4f1c11d2d0cbdfe21efff1b1e39e5a5100397f3a [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

Add catalog-info.yaml config file
  catalog-info.yaml
Due: kubeval, yaml-validation

Update image tags to 67a48f4b20340d7e51d323dbdd547217145b7332 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Resolve Kustomize namespace transformation conflict in RoleBinding
  manifests/base/kubectl-runner-rbac.yaml
Due: kubeval, yaml-validation

fix: Separate cluster RBAC from Kustomize to avoid namespace transformation conflicts
  manifests/base/kubectl-runner-cluster-rbac.yaml
  manifests/base/kubectl-runner-rbac.yaml
Due: kubeval, yaml-validation

fix: Add env label and fix ECR permissions
  manifests/overlays/production/task-scheduler-patch.yaml
Due: kubeval, yaml-validation

fix: Use latest tag for container images
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Use correct DynamoDB table names with -production suffix
  manifests/overlays/production/task-scheduler-patch.yaml
Due: kubeval, yaml-validation

fix: Correct backend service name in nginx config
  frontend/nginx.conf
Due: none

Update image tags to bc10a2222489cee2624bbad7717e5bbf85559d30 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Remove /api prefix in nginx proxy configuration
  frontend/nginx.conf
Due: none

Update image tags to 4ef5ead029dcd7755cb6f7085e19b710613ce4bf [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Use latest tag instead of non-existent SHA
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

temp: Disable automatic manifest updates
  .github/workflows/build.yaml
Due: kubeval, yaml-validation

fix: Correct nginx rewrite rule order and proxy_pass URL
  frontend/nginx.conf
Due: none

feat: Improve CI/CD with timestamp-based image tags
  .github/workflows/build.yaml
Due: kubeval, yaml-validation

Update image tags to 20260218-185335 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Simplify timestamp generation in CI/CD workflow
  .github/workflows/build.yaml
Due: kubeval, yaml-validation

Update image tags to 20260218-190313 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Improve nginx rewrite rules for API proxy
  frontend/nginx.conf
Due: none

Update image tags to 20260218-193409 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Simplify nginx proxy configuration
  frontend/nginx.conf
Due: none

Update image tags to 20260218-195339 [skip ci]
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Route all traffic through frontend for proper API proxying
  manifests/overlays/production/ingress.yaml
Due: kubeval, yaml-validation

fix: Use latest tag for backend to restore service
  manifests/overlays/production/kustomization.yaml
Due: kubeval, yaml-validation

fix: Update EKS cluster name to match actual cluster
  manifests/overlays/production/task-scheduler-patch.yaml
Due: kubeval, yaml-validation
